@import "tailwindcss";

@theme {
  --color-brand-red: #c1272d;
  --color-brand-red-dark: #9e1f24;
  --color-brand-dark: #2b2b2e;
  --color-brand-dark-hover: #17171a;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
